+selection() {
  color: #fff;
  background-color: rgba(60, 184, 120, 0.99);
}


html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  font-size: 16px;
  line-height: 1.2;
}

.main {}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: .75em 0 .75em;
}

a {
  transition: all .3s ease;
  color: light-grey;
  text-decoration: none;
  &:hover {
    color: green;
  }
}


//
// HEADER
// ******************************************************************

header {
  background-image: url('/assets/img/coming-soon-bg.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  text-align: center;

  h1 {
    color: yellow;
    font-size: 3em;
    font-weight: 200;
  }

  h2 {
    font-size: 3em;
    font-style: italic;
  }
  @media medium-up {
    h1 { font-size: 6em; }
  }
}

.sub-header {
  background-color: purple;
  .wrapper {
    padding: 20px;
  }

  img {
    width: 100%;
    max-width: 100px;
  }

  h2 {
    font-size: 1.2em;
      line-height: 1;
    padding-bottom: 0;
  }

  p {
    font-size: .85em;
    line-height: 1.5em;
  }

  @media medium-up {
    img { max-width: 100%; }
    h2 { font-size: 2em; }
    p {
      font-size: 1em;
      line-height: 1.6;
    }
  }
}


screen-color(color, border-size = 2px) {
  i:before { color: color; }
  h3 a {
    box-shadow: 0 0 0 border-size transparent;
    color: color;
    z-index: 300;
    &:hover {
      background: color;
      box-shadow: 0 0 0 border-size color;
      color: purple;
      padding-left: 10px;
      padding-right: 10px;
    }

  }
}

screen-background-color(color) {
  background-color: color;
  &:before {
    background-color: color;
  }
}

list-item(icon, color) {
  @extend .fa;
  line-height: 1.6;
  display: block;
  color: color;
  &:before {
    margin-right: 6px;
    font-size: .8em;
    line-height: 1.25;
    content: icon;
  }
}

//
// MODULES
// ******************************************************************
.modules { padding-top: 100px; }
.module {
  border-bottom: 1px solid purple;
  margin-bottom: 10px;
  screen-color(light-grey);
  margin: 0;
  text-align: left;
  clear: both;
  position: relative;

  .issues {
    border-radius: 1000px;
    box-shadow: 0 0 0 1px light-purple;
    color: light-purple;
    &:hover {
      box-shadow: 0 0 0 1px light-grey;
      background-color: light-grey;
      color: black;
    }
    position: absolute;
    font-size: .6em;
    text-transform: uppercase;
    right: 0;
    padding: 4px 10px;
    top: 47%;
    margin-top: -1em;
  }


  .status {
    display: inline-block;
    color: light-purple !important;
    font-size: .5em;
    text-align: center;
    line-height: 1;
    left: 20px;
    top: .8em;
    position: absolute;
    text-transform: uppercase;
  }


  &.recent-update {
    screen-color(green);
  }
  &.in-progress {
    screen-color(yellow);
  }
  &.done {
    screen-color(green);
  }
  &.not-started {
    screen-color(rgba(light-grey, .4));
  }




  .title a { position: relative; }
}

.screen {

  &:before {
    content: '';
    position: absolute;
    background-color: rgba(purple, .8);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }


  &.target-frame {
    background-image: url('/assets/img/modules/target-frame.jpg');
  }
}


//
// CONTRIBUTORS
// ******************************************************************
section.contributors {
  .panel {
    height: 200px;
    margin-bottom: 20px;
  }
  h3 {
    color: red;
    font-size: 2em;
    font-weight: 100;
    margin: 0;
    padding: 0;
  }
  h4 {
    color: light-purple;
    border-bottom: 1px solid purple;
    margin-bottom: 10px;
  }
  li {
    margin-bottom: .5em;
  }
}


//
// FOOTER
// ******************************************************************

footer {
  background: purple;
  text-align: center;
  padding: 20px;
}

section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.fa:before {
  transition: color .3s ease;
  color: rgba(light-purple, 1);
  font-size: 16px;
  margin-right: 6px;
  line-height: 1.25;
}

input[type=image] {
  display: block;
  margin: 0 auto;
}