* {
  box-sizing: border-box;
}
.small-1 {
  width: 8.333333333333332%;
  padding-left: 15px;
  padding-right: 15px;
}
.small-2 {
  width: 16.666666666666664%;
  padding-left: 15px;
  padding-right: 15px;
}
.small-3 {
  width: 25%;
  padding-left: 15px;
  padding-right: 15px;
}
.small-4 {
  width: 33.33333333333333%;
  padding-left: 15px;
  padding-right: 15px;
}
.small-5 {
  width: 41.66666666666667%;
  padding-left: 15px;
  padding-right: 15px;
}
.small-6 {
  width: 50%;
  padding-left: 15px;
  padding-right: 15px;
}
.small-7 {
  width: 58.333333333333336%;
  padding-left: 15px;
  padding-right: 15px;
}
.small-8 {
  width: 66.66666666666666%;
  padding-left: 15px;
  padding-right: 15px;
}
.small-9 {
  width: 75%;
  padding-left: 15px;
  padding-right: 15px;
}
.small-10 {
  width: 83.33333333333334%;
  padding-left: 15px;
  padding-right: 15px;
}
.small-11 {
  width: 91.66666666666666%;
  padding-left: 15px;
  padding-right: 15px;
}
.small-12 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media only screen {
  .small-1 {
    width: 8.333333333333332%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .small-2 {
    width: 16.666666666666664%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .small-3 {
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .small-4 {
    width: 33.33333333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .small-5 {
    width: 41.66666666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .small-6 {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .small-7 {
    width: 58.333333333333336%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .small-8 {
    width: 66.66666666666666%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .small-9 {
    width: 75%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .small-10 {
    width: 83.33333333333334%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .small-11 {
    width: 91.66666666666666%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .small-12 {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 40.063em) {
  .medium-1 {
    width: 8.333333333333332%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .medium-2 {
    width: 16.666666666666664%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .medium-3 {
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .medium-4 {
    width: 33.33333333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .medium-5 {
    width: 41.66666666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .medium-6 {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .medium-7 {
    width: 58.333333333333336%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .medium-8 {
    width: 66.66666666666666%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .medium-9 {
    width: 75%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .medium-10 {
    width: 83.33333333333334%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .medium-11 {
    width: 91.66666666666666%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .medium-12 {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 64.063em) {
  .large-1 {
    width: 8.333333333333332%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .large-2 {
    width: 16.666666666666664%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .large-3 {
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .large-4 {
    width: 33.33333333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .large-5 {
    width: 41.66666666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .large-6 {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .large-7 {
    width: 58.333333333333336%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .large-8 {
    width: 66.66666666666666%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .large-9 {
    width: 75%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .large-10 {
    width: 83.33333333333334%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .large-11 {
    width: 91.66666666666666%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .large-12 {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.column,
.columns {
  float: left;
  position: relative;
}
.column .center,
.columns .center {
  text-align: center;
}
.column img,
.columns img {
  width: 100%;
}
.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  width: 100%;
  max-width: 1000px;
  text-align: center;
}
.row:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  height: 0;
}
* {
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5 {
  color: #bcb7da;
  font-family: "interface", sans-serif;
  font-weight: 400;
  text-transform: none;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.4rem;
}
body,
p {
  color: #bcb7da;
  font-family: "interface", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.8;
  text-shadow: none;
}
pre {
  box-shadow: 0 2px 0 0 #fff;
  background-color: #201e2d;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 30px;
}
pre code {
  color: #bcb7da;
  font-family: "source-code-pro", sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 1.4;
}
pre code span.comment {
  color: rgba(188,183,218,0.5);
}
pre code span.bash:before {
  content: '$';
  color: rgba(188,183,218,0.5);
  display: inline-block;
  margin-right: 6px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.text-center {
  text-align: center;
}
.inline-list {
  padding-left: 0;
}
.inline-list > * {
  display: inline-block;
}
.inline-list.bullet > *:first-child:before {
  display: none;
}
.inline-list.bullet > *:before {
  display: inline-block;
  content: '•';
  margin-left: 10px;
  margin-right: 10px;
}
ul.no-bullet {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
::selection {
  color: #fff;
  background-color: rgba(60,184,120,0.99);
}
::-moz-selection {
  color: #fff;
  background-color: rgba(60,184,120,0.99);
}
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  background-color: #201e2d;
  font-size: 16px;
  line-height: 1.2;
}
header {
  background-image: url("/assets/img/coming-soon-bg.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  text-align: center;
}
header h1 {
  color: #ffd161;
  font-size: 6em;
  font-weight: 200;
}
header h2 {
  font-size: 3em;
  font-style: italic;
}
.sub-header {
  background-color: #28253a;
}
.sub-header .wrapper {
  padding: 20px;
}
.sub-header h2 {
  padding-bottom: 0;
}
.modules {
  padding-top: 100px;
}
.module {
  margin-bottom: 30px;
}
.module .screen {
  background-color: #28253a;
  width: 100%;
  height: 200px;
  position: relative;
}
.module .screen.black {
  background-color: transparent;
  box-shadow: 0 0 0 1px rgba(100,95,126,0.1);
}
.module .screen.black:before {
  background-color: transparent;
}
.module .screen.black h3 {
  display: block;
  position: absolute;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -1.4em;
  padding: 10px;
  left: 10px;
  right: 10px;
  z-index: 2;
}
.module .screen:hover .overlay {
  opacity: 1;
}
.module .screen .overlay {
  transition: opacity 0.3s ease;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(32,30,45,0.95);
  z-index: 10;
  opacity: 0;
  padding: 40px 20px 20px;
}
.module .screen .overlay ul {
  line-height: 1.6;
}
.module .screen .overlay ul li {
  color: #645f7e;
}
.module .screen .overlay ul li.done {
  text-decoration: line-through;
}
.module .screen .overlay ul li.in-progress {
  color: #ffd161;
}
.module .screen span {
  display: block;
  position: absolute;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -1em;
  padding: 10px;
  left: 30px;
  right: 30px;
  z-index: 2;
}
.module.in-progress h3 {
  color: #ffd161;
}
.module.in-progress .screen span {
  box-shadow: 0 0 0 1px #ffd161;
  color: #ffd161;
}
.module.done h3 {
  color: #3cb878;
}
.module.done .screen span {
  box-shadow: 0 0 0 1px #3cb878;
  color: #3cb878;
}
.module.not-started h3 {
  color: rgba(188,183,218,0.4);
}
.module.not-started .screen span {
  box-shadow: 0 0 0 1px rgba(188,183,218,0.4);
  color: rgba(188,183,218,0.4);
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0.75em 0 0.75em;
}
.screen:before {
  content: '';
  position: absolute;
  background-color: rgba(40,37,58,0.8);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.screen.target-frame {
  background-image: url("/assets/img/modules/target-frame.jpg");
}
footer {
  background: #28253a;
  text-align: center;
  padding: 20px;
}
section {
  padding-top: 40px;
  padding-bottom: 40px;
}
